
:root {
	--font-content: Georgia,times new roman,courier ;
	--font-code: Nimbus Mono PS, Courier New, monospace ;

	font-family: var( --font-content ) ;
	font-size: 22px ;
	line-height: 1.5 ;
}

main {
	margin: 30px auto ;
	max-width: 900px ;
}

code {
	background-color: #f0f0f0 ;
	font-family: var( --font-code ) ;
	font-size: 90% ;
}

pre {
	& code {
		border-radius: 4px ;
		display: block ;
		margin-right: -200px ;
		/*max-width: 100% ;*/
		overflow: auto ;
		padding: 5px 10px ;
		tab-size: 4 ;
	}
}

hr {
	margin-block: 2rem;
}
